Source: sie-dns-sensor
Section: net
Priority: extra
Maintainer: Farsight Security, Inc. <software@farsightsecurity.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.5

Package: sie-dns-sensor
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, adduser
Description: SIE DNS sensor
 SIE DNS sensor
